**/target/
**/bin/
.mvn
Servers/
**/.classpath
**/.project
**/.factorypath
**/.settings
**/org.eclipse*
GenericJava/Servers


**.classpath
**.project
**.factorypath
**/org.eclipse*

.vscode
.mvn
.metadata
.attach_pid*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
MyWebDBeaver/.dbeaver/credentials-config.json
MyWebDBeaver/.dbeaver/data-sources.json
MyWebDBeaver/.dbeaver/project-settings.json
MyWebDBeaver/Diagrams/MyWeb.erd

.vscode